

.box1{
    width: 745px;
    height: 1050px;
    float: left;
    margin: auto;
    background-color: rgb(29, 105, 131);
}
img{
    display: block;
    width: 60%;
    height: auto;
    border-radius: 300px;
    margin: auto;
    margin-top: 100px;
    
}
.box1 h1{
    text-align: left;
    margin-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 0.8;
    color: rgb(255, 253, 253);
}
.box2{
    width:1214px;
    float: right;
    margin-top: 40px;
}
.box2 h1{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: 400;
}