#ph{
    color: red;
}
body .box .grah{
color: red;
}
.box > .grah{
    color: red;
}
.box .grah{
    color: blue;

}
.grah{
    color: pink;
}
p{
    color: black !important; 
}
p{
    color: green;
}